.div0 {
    width: 1280px;
    background-image: url(../images/0.png);
    margin-bottom: 50px;
}

.div1 {
    background: url(../images/6.png) no-repeat 240px 170px;
}

.div2 {
    background: url(../images/5.png) no-repeat 280px 280px;
}

.div3 {
    background: url(../images/2.png) no-repeat 1000px 350px;
}

.div4 {
    background: url(../images/3.png) no-repeat 780px 370px;
}

.div5 {
    background: url(../images/4.png) no-repeat 940px 550px;
}

.div6 {
    height: 946px;
    background: url(../images/1.png) no-repeat 0 100%;
}

.css3{
    width: 1280px;
    height: 946px;
    background: url("../images/1.png") no-repeat 0 100%,
    url("../images/4.png") no-repeat 85% 86%,
    url("../images/2.png") no-repeat 100% 77%,
    url("../images/3.png") no-repeat 75% 70%,
    url("../images/5.png") no-repeat 28.6% 57%,
    url("../images/6.png") no-repeat 22% 24%,
    url("../images/0.png") no-repeat;
}

