table {
    padding: 20px 20px;
    border: 2px solid #b1b1b1;
    background: #eeeeee;
    height: 600px;
    width: 400px;
}

input[type=email],  input[type=text]{
    height: 30px;
    background: #feffb3;
    border: 2px solid #a0a740;
}

input[type=password] {
    height: 30px;
    background: #fbc1ed;
    border: 2px solid #8a3768;
}

input {
    height: 30px;
    background: #bcb6ff;
    border: 2px solid #271c6d;
}

textarea {
    background: #c5ffc5;
    border: 2px solid #3f7a3e;
}


input[type=submit] {
    background: #c5ffc5;
    border: 0;
    box-shadow: 2px 2px 5px 0;
}

input[type=reset] {
    background: #fb9ba3;
    border: 0;
    box-shadow: 2px 2px 5px 0;
}