body {
    font-family: monospace;
}

.page-header {
    background-color: #333333;
    box-shadow: 0 7px 1px #2b99ff;
    color: #efecec;
    width: 100%;
    padding: 5px;
    margin: 0;
    font-size: 18px;
}

nav a {
    text-decoration: none;
}

main {
    padding-top: 50px;
}

nav li {
    list-style: none;
    position: relative;
}

nav span {
    color: #fff;
}

.primary > li {
    padding: 5px 25px;
}

.primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

a {
    color: #fff;
}

.secondary {
    display: none;
    padding-left: 10px;
    min-width: 300px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #2b99ff;
}

.secondary li {
    padding: 20px 25px;
    min-width: 200px;
}

.secondary a {
    color: #fff;
}

.secondary span {
    float: right;
}

.tertiary {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #2b99ff;
    display: none;
    min-width: 300px;
}

.tertiary li {
    padding: 20px 25px;
    min-width: 200px;
}

.tertiary a {
    color: #fff;
}

nav ul:nth-child(1)>li:nth-child(2):hover {
    background-color: #2b99ff;
}

.primary > li:hover {
    -webkit-transition-duration: 377ms;
    transition-duration: 377ms;
    background-color: #2b99ff;
}


.primary > li:hover .secondary {
    display: block;
}

.secondary > li:hover .tertiary {
    display: block;
}
