.box {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

.photo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.photo img {
    width: auto;
    height: 150%;
}

img[alt="people"]{
    height: 33px;
    border-radius: 0;
}

.img {
    align-items: center;
}

.box .title {
    display: flex;
    align-items: center;
}

span {
    font-size: 25px;
    font-weight: 600;
}

.graduate {
    font-size: 13px;
    margin-bottom: 50px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.quote {
    width: 350px;
    font-style: italic;
    padding: 10px 40px;;
}

.author {
    float: right;
}

.description {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    width: 300px;
}
