ul{
    display: flex;
    list-style: none;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

li{
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #B0C7D8;
}

a{
    text-decoration: none;
    color: #877160;
}

li:hover{
    background:  #607788;
}

a:hover{
    color: white;
}
