body {
    background: #0083de;
    font-family: monospace;
    color: white;
}

div>div {
    float: left;
    width: 25%;
}

.div4 {
    margin-bottom: 100px;
}

div {
    height: auto;
    overflow: hidden;
}

div.first {
    margin: 40px 40px 0 40px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 550;
    font-size: 30px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
}

h4 {
    font-weight: 100;
    font-size: 15px;
}

h2, h3, h4 {
    line-height: 1ex;
}

p {
    font-weight: 200;
    font-size: 15px;
}

input {
    height: 40px;
    width: 95%;
    border-radius: 20px;
    background-color: #0083de;
    border: 2px solid white;
    color: white;
}

button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
}

div.second {
    margin: 0 40px 40px 40px;
}

div.menu {
    width: 50%;
}

div.menu>div {
    margin: 20px;
    width: max-content;
}

img {
    float: right;
    height: 50px;
}

.copyright {
    width: 100%;
}

.logos {
    width: 50%;
}